Body {font-family:Arial, Helvetica, sans-serif;
background-image: url(https://images2.alphacoders.com/121/1214052.png);
background-size: auto;}

header {
        display: flex;
        align-items: center;
        justify-content: space-between;}

.TCa{color:white;}

table {border-collapse: collapse; 
      border-color: black;
      background-color: white;
}

tr:hover {background-color: #e6e6e6}
 
h1      {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
        }

th      {
        background-color: #333;
        color: white;
        }

.logo   {
        display: inline-block;
        height: 80px;
        } 

.logo2   {
        display: inline-block;
        height: 120px;
        } 
        
.bandeiras {height: 20px}

.classific {font-weight: bold; font-size: 18px; 
        font-family:Verdana, Geneva, Tahoma, sans-serif; 
        text-align: left;
        background-color: lightslategray}

.Pontos {font-weight: bold; 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        background-color: lightslategray;
        text-align: center}

.Pilotos {column-width: 80px; background-color: lightgray}

.Equipe {font-size: 12px; 
        color: gray; 
        text-align: left;}

.Foto {width: 190px;}

.Numero {font-size: 48px; 
        font-weight: bold; 
        color: rgba(0, 179, 119, 0.411); 
        text-align: start; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.time {width: 65px}

.carro {width: 60%;}

.titulo {background-color: rgb(7, 7, 83); color:aliceblue}

.band {background-color: lightgray;}

.CorridaPiloto {display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 5%; margin-right:5%
        }

.Primeiro {color:gold; font-weight: bold;}

.Segundo {color:silver; font-weight: bold}

.Terceiro{color:rgb(250, 132, 88); font-weight: bold}

.BahreinPiloto {color: white; border-color: black;}

.Legenda {background-color:lightgrey; font-weight: bold; color:black}

.Sistema {text-align: center;}

.PosSistema {column-width: 80px; font-weight: bold;}

.PontosSistema {column-width: 120px;}